.parent{
    /* grid-template-areas: '1 2'; */
    /* grid-template-columns: auto auto; */
    /* grid-template-rows: auto auto; */
    grid-template-areas: 'item1 item1'
                         'item2 item3'
                         'item4 item4'
                         'item5 item5';
                         
    
}

.item-1{
    grid-area: item1;
}
.item-2{
    grid-area: item2;
}
.item-3{
    grid-area: item3;
}
.item-4{
    grid-area: item4;
}
.item-5{
    grid-area: item5;
}