:root{
    --primary-color: #333;
    --secondary-color: #9fa3a7;
    --modified-teal: #27b9c2;
    --modified-white: #fffbfb;
    --modified-yellow: #ffc80a;
}

.bg-trial{
    background-color:red;
}
.text-primary{
    color: var(--primary-color);
}

.text-secondary{
    color: var(--secondary-color);
} 

.text-modified-teal{
    color: var(--modified-teal);
} 

.text-modified-white{
    color: var(--modified-white);
}
 
.text-modified-yellow{
    color: var(--modified-yellow);
}

.tv-div{
    background-color: #2c2c2c;
}

.laptop-div{
    background-color: #93b6b7;
}

.keyboard-div{
    background-color: #f05638;
}
.font-montessrat{
    font-family: 'Montserrat', sans-serif;
    
}
.font-arvo{
    font-family: 'Arvo', serif;
    
}

.font-open-sans{
    font-family: 'Open Sans', sans-serif;
  
}

.twitter-div{
    background-color: #1da1f2;
}
.twitter-div .inner-circle{
    background-color: #35cfed;
}

.floppy-div{
    background-color: #8f76bc;
}

.floppy-div .inner-circle{
    background-color: #8166b0;
}