
/* cursor  */
.pointer{
    cursor: pointer;
}
.grab{
    cursor:grab
}
.grapping{
    cursor:grabbing;
}
.not-allowed{
    cursor:not-allowed;
}
.progress{
    cursor:progress;
}
.zoom-in{
    cursor:zoom-in;
}
.zoom-out{
    cursor:zoom-out;
}

/* centering */
.text-center{
    text-align:center;
}
.margin-auto{
    margin:auto;
}
.margin-top-auto{
    margin-top:auto;
}
.margin-bottom-auto{
    margin-bottom:auto;
}
.margin-left-auto{
    margin-left:auto;
}
.margin-right-auto{
    margin-right:auto;
}

/* vertical-alignment  */
.vertical-top{
    vertical-align: top;
}
.vertical-middle{
    vertical-align: middle;
}
.vertical-bottom{
    vertical-align: bottom;
}

/* width */
.w-full{
    width:100%;
}
.w-full-2{
    width:100%;
}
.w-full-3{
    width:100%;
}
.w-full-4{
    width:100%;
}
.w-5-p{
    width:5%;
}
.w-10-p{
    width:10%;
}
.w-15-p{
    width:15%;
}
.w-20-p{
    width:20%;
}
.w-25-p{
    width:25%;
}
.w-30-p{
    width:30%;
}
.w-35-p{
    width:35%;
}
.w-40-p{
    width:40%;
}
.w-45-p{
    width:45%;
}
.w-50-p{
    width:50%;
}
.w-55-p{
    width:55%;
}

.w-60-p{
    width:60%;
}
.w-65-p{
    width:65%;
}
.w-70-p{
    width:70%;
}
.w-75-p{
    width:75%;
}
.w-80-p{
    width:80%;
}
.w-85-p{
    width:85%;
}
.w-90-p{
    width:90%;
}
.w-95-p{
    width:95%;
}
.w-100-p{
    width:100%;
}

.w-5{
    width:5px;
}
.w-10{
    width:10px;
}
.w-15{
    width:15px;
}
.w-20{
    width:20px;
}
.w-25{
    width:25px;
}
.w-30{
    width:30px;
}
.w-35{
    width:35px;
}
.w-40{
    width:40px;
}
.w-45{
    width:45px;
}
.w-50{
    width:50px;
}
.w-55{
    width:55px;
}
.w-60{
    width:60px;
}
.w-70{
    width:70px;
}
.w-80{
    width:80px;
}
.w-90{
    width:90px;
}
.w-100{
    width:100px;
}
.w-120{
    width:120px;
}
.w-140{
    width:140px;
}
.w-150{
    width:150px;
}
.w-170{
    width:170px;
}
.w-190{
    width:190px;
}
.w-200{
    width:200px;
}
.w-250{
    width:250px;
}
.w-300{
    width:300px;
}
.w-350{
    width:350px;
}
.w-400{
    width:400px;
}
.w-450{
    width:450px;
}
.w-500{
    width:500px;
}
.w-550{
    width:550px;
}
.w-600{
    width:600px;
}
.w-650{
    width:650px;
}
.w-700{
    width:700px;
}
.w-750{
    width:750px;
}
.w-800{
    width:800px;
}
.w-850{
    width:850px;
}
.w-900{
    width:900px;
}
.w-950{
    width:950px;
}
.w-1000{
    width:1000px;
}

/* height */
.h-full{
    height:100%;
}
.h-10-vh{
    height:10vh;
}
.h-20-vh{
    height:20vh;
}
.h-30-vh{
    height:30vh;
}
.h-40-vh{
    height:40vh;
}
.h-50-vh{
    height:50vh;
}
.h-60-vh{
    height:60vh;
}
.h-70-vh{
    height:70vh;
}
.h-80-vh{
    height:80vh;
}
.h-90-vh{
    height:90vh;
}
.h-full-vh{
    height:100vh;
}
.h-half{
    height:50%;
}
.h-quarter{
    height:25%;
}
.h-0{
    height:0;
}
.h-5{
    height:5px;
}
.h-10{
    height:10px;
}
.h-20{
    height:20px;
}
.h-30{
    height:30px;
}
.h-40{
    height:40px;
}
.h-50{
    height:50px;
}
.h-60{
    height:60px;
}
.h-70{
    height:70px;
}
.h-80{
    height:80px;
}
.h-100{
    height:100px;
}
.h-120{
    height:120px;
}
.h-150{
    height:150px;
}
.h-200{
    height:200px;
}
.h-250{
    height:250px;
}
.h-300{
    height:300px;
}
.h-5-p{
    height:5%;
}
.h-10-p{
    height:10%;
}
.h-15-p{
    height:15%;
}
.h-20-p{
    height:20%;
}
.h-25-p{
    height:25%;
}
.h-30-p{
    height:30%;
}
.h-35-p{
    height:35%;
}
.h-40-p{
    height:40%;
}
.h-45-p{
    height:45%;
}
.h-50-p{
    height:50%;
}
.h-60-p{
    height:60%;
}
.h-70-p{
    height:70%;
}
.h-75-p{
    height:75%;
}
.h-80-p{
    height:80%;
}
.h-85-p{
    height:85%;
}
.h-90-p{
    height:90%;
}
.h-100-p{
    height:100%;
}

/* backgroud */
.bg-c-gray{
    background-color: gray;
}

.list-dots-remove{
    list-style-type: none;   
}

/* float */
.r-float{
    float:right;
}
.l-float{
    float:left;
}
.clear-fix{
    clear:both;
}

/* font-size */
.font-8{
    font-size: 8px;
}
.font-10{
    font-size:10px;
}
.font-12{
    font-size:12px;
}
.font-14{
    font-size:14px;
}
.font-15{
    font-size:15px;
}
.font-17{
    font-size:17px;
} 
.font-18{
    font-size:18px;
}
.font-20{
    font-size:20px;
}
.font-22{
    font-size: 22px;;
}
.font-24{
    font-size: 24px;
}
.font-26{
    font-size:26px;
}
.font-28{
    font-size:28px;
}
.font-30{
    font-size:30px;
}
.font-32{
    font-size:32px;
}
.font-34{
    font-size:34px;
}
.font-36{
    font-size:36px;
}
.font-38{
    font-size:38px;
}
.font-40{
    font-size: 40px;
}
.font-42{
    font-size: 42px;
}
.font-44{
    font-size: 44px;
}
.font-46{
    font-size: 46px;
}
.font-48{
    font-size: 48px;
}
.font-50{
    font-size: 50px;
}
.font-smaller{
    font-size:smaller;
}
.font-small{
    font-size:small;
}
.font-medium{
    font-size: medium;
}
.font-large{
    font-size: large;
}
.font-xlarge{
    font-size: x-large;
}
.font-xxlarge{
    font-size: xx-large;
}

/* font-color */
.font-black{
    color:black;
}
.font-white{
    color:white
}
.font-gold{
    color:gold;
}
.font-chocolate{
    color:chocolate;
}
.font-gray{
    color:gray;
}
.font-lightgray{
    color:lightgray;
}
.font-green{
    color:green;
}
.font-blue{
    color:blue;
}
.font-yellow{
    color:yellow;
}


/* display */
.block{
    display:block;
}
.inline-block{
    display: inline-block;
}
.inline{
    display:inline;
}
.flex{
    display:flex;
}
.inline-flex{
    display:inline-flex;
}
.grid{
    display:grid;
}

/* percent */
.w-half{
    width:50%;
}
.w-third{
    width:calc(100%/3);
}
.w-quarter{
    width:25%;
}

.h-half{
    height:50%;
}
.h-third{
    height:calc(100%/3);
}
.h-quarter{
    height:25%;
}

/* border width  */
.b-r-w-2{
    border-right-width:2px;
}
.b-r-w-3{
    border-right-width:3px;
}
.b-r-w-5{
    border-right-width:5px;
}
.b-r-w-10{
    border-right-width:10px;
}
.b-r-w-20{
    border-right-width:20px;
}
.b-r-w-40{
    border-right-width:40px;
}
.b-r-w-50{
    border-right-width:50px;
}
.b-r-w-100{
    border-right-width:100px;
}
.b-r-w-200{
    border-right-width:200px;
}

.b-l-w-2{
    border-left-width:2px;
}
.b-l-w-3{
    border-left-width:3px;
}
.b-l-w-5{
    border-left-width:5px;
}
.b-l-w-10{
    border-left-width:10px;
}
.b-l-w-20{
    border-left-width:20px;
}
.b-l-w-40{
    border-left-width:40px;
}
.b-l-w-50{
    border-left-width:50px;
}
.b-l-w-100{
    border-left-width:100px;
}
.b-l-w-200{
    border-left-width:200px;
}

.b-t-0{
    border-top-width:0px;
}
.b-t-2{
    border-top-width:2px;
}
.b-t-3{
    border-top-width:3px;
}
.b-t-5{
    border-top-width:5px;
}
.b-t-10{
    border-top-width:10px;
}
.b-t-20{
    border-top-width:20px;
}
.b-t-40{
    border-top-width:40px;
}
.b-t-50{
    border-top-width:50px;
}
.b-t-100{
    border-top-width:100px;
}
.b-t-200{
    border-top-width:200px;
}

.b-b-0{
    border-bottom-width:0px;
}
.b-b-2{
    border-bottom-width:2px;
}
.b-b-3{
    border-bottom-width:3px;
}
.b-b-5{
    border-bottom-width:5px;
}
.b-b-10{
    border-bottom-width:10px;
}
.b-b-20{
    border-bottom-width:20px;
}
.b-b-40{
    border-bottom-width:40px;
}
.b-b-50{
    border-bottom-width:50px;
}
.b-b-100{
    border-bottom-width:100px;
}
.b-b-200{
    border-bottom-width:200px;
}


/* border-top-color */
.b-t-transparent{
    border-top-color: transparent;
}
.b-t-white{
    border-top-color: white;
}
.b-t-black{
    border-top-color: black;
}
.b-t-gray{
    border-top-color: gray;
}
.b-t-lightgray{
    border-top-color: lightgray;
}
.b-t-green{
    border-top-color: green;
}
.b-t-blue{
    border-top-color: blue;
}
.b-t-aqua{
    border-top-color: aqua;
}
.b-t-teal{
    border-top-color: teal;
}
.b-t-yellow{
    border-top-color: yellow;
}
.b-t-gold{
    border-top-color: gold;
}
.b-t-red{
    border-top-color: red;
}
.b-t-tomato{
    border-top-color: tomato;
}


/* border-bottom-color */
.b-b-transparent{
    border-bottom-color: transparent;
}
.b-b-white{
    border-bottom-color: white;
}
.b-b-black{
    border-bottom-color: black;
}
.b-b-gray{
    border-bottom-color: gray;
}
.b-b-lightgray{
    border-bottom-color: lightgray;
}
.b-b-green{
    border-bottom-color: green;
}
.b-b-blue{
    border-bottom-color: blue;
}
.b-b-aqua{
    border-bottom-color: aqua;
}
.b-b-teal{
    border-bottom-color: teal;
}
.b-b-yellow{
    border-bottom-color: yellow;
}
.b-b-gold{
    border-bottom-color: gold;
}
.b-b-red{
    border-bottom-color: red;
}
.b-b-tomato{
    border-bottom-color: tomato;
}


/* border-right-color */
.b-r-transparent{
    border-right-color: transparent;
}
.b-r-white{
    border-right-color: white;
}
.b-r-black{
    border-right-color: black;
}
.b-r-gray{
    border-right-color: gray;
}
.b-r-lightgray{
    border-right-color: lightgray;
}
.b-r-green{
    border-right-color: green;
}
.b-r-blue{
    border-right-color: blue;
}
.b-r-aqua{
    border-right-color: aqua;
}
.b-r-teal{
    border-right-color: teal;
}
.b-r-yellow{
    border-right-color: yellow;
}
.b-r-gold{
    border-right-color: gold;
}
.b-r-red{
    border-right-color: red;
}
.b-r-tomato{
    border-right-color: tomato;
}


/* border-left-color */
.b-l-transparent{
    border-left-color: transparent;
}
.b-l-white{
    border-left-color: white;
}
.b-l-black{
    border-left-color: black;
}
.b-l-gray{
    border-left-color: gray;
}
.b-l-lightgray{
    border-left-color: lightgray;
}
.b-l-green{
    border-left-color: green;
}
.b-l-blue{
    border-left-color: blue;
}
.b-l-aqua{
    border-left-color: aqua;
}
.b-l-teal{
    border-left-color: teal;
}
.b-l-yellow{
    border-left-color: yellow;
}
.b-l-gold{
    border-left-color: gold;
}
.b-l-red{
    border-left-color: red;
}
.b-l-tomato{
    border-left-color: tomato;
}




.border-top{
    border-top:2px solid gold;
}
.border-bottom{
    border-bottom:1px solid black;
}

.w-20{
    width:20px;
}
.w-0{
    width:0%;
}

/* background-color */
.bg-c-white{
    background-color: white;
}
.bg-c-black{
    background-color: black;
}
.bg-c-chocolate{
    background-color: chocolate;
}
.bg-c-yellow{
    background-color: yellow;
}
.bg-c-gold{
    background-color: gold;
}
.bg-c-green{
    background-color: green;
}
.bg-c-blue{
    background-color: blue;
}
.bg-c-red{
    background-color: red;
}
.bg-c-tomato{
    background-color: tomato;
}
.bg-c-lightgray{
    background-color: lightgray;
}
/* position */
.fixed{
    position:fixed;
}
.absolute{
    position: absolute;
}
.relative{
    position:relative;
}
.sticky{
    position:sticky;
}


.top-0{
    top:0%
}
.bottom-0{
    bottom:0%;
}
.left-0{
    left:0%;
}
.right-0{
    right:0%;
}
.top-2{
    top:2%;
}
.top-3{
    top:3%;
}
.top-5{
    top:5%;
}
.top-10{
    top:10%;
}
.top-20{
    top:20%;
}
.top-30{
    top:30%;
}
.top-40{
    top:40%;
}
.top-50{
    top:50%;
}
.top-60{
    top:60%;
}
.top-70{
    top:70%;
}
.top-80{
    top:80%;
}
.top-90{
    top:90%;
}
.top-100{
    top:100%;
}
.top-110{
    top:110%;
}

/* left  */
.left-10{
    left:10%;
}
.left-15{
    left:15%;
}
.left-20{
    left:20%;
}
.left-30{
    left:30%;
}
.left-40{
    left:40%;
}
.left-50{
    left:50%;
}
.left-50{
    left:50%;
}
.left-60{
    left:60%;
}
.left-70{
    left:70%;
}
.left-80{
    left:80%;
}
.left-90{
    left:90%;
}
.left-100{
    left:100%;
}
.left-110{
    left:110%;
}

/* right  */
.right-10{
    right:10%;
}
.right-15{
    right:15%;
}
.right-20{
    right:20%;
}
.right-30{
    right:30%;
}
.right-40{
    right:40%;
}
.right-50{
    right:50%;
}
.right-50{
    right:50%;
}
.right-60{
    right:60%;
}
.right-70{
    right:70%;
}
.right-80{
    right:80%;
}
.right-90{
    right:90%;
}
.right-100{
    right:100%;
}

/* bottom  */
.bottom-10{
    bottom:10%;
}
.bottom-15{
    bottom:15%;
}
.bottom-20{
    bottom:20%;
}
.bottom-30{
    bottom:30%;
}
.bottom-40{
    bottom:40%;
}
.bottom-50{
    bottom:50%;
}
.bottom-50{
    bottom:50%;
}
.bottom-60{
    bottom:60%;
}
.bottom-70{
    bottom:70%;
}
.bottom-80{
    bottom:80%;
}
.bottom-90{
    bottom:90%;
}
.bottom-100{
    bottom:100%;
}
.vertical-bottom{
    vertical-align: bottom;
}

.special::after{
    position:absolute;
    content:'';
    width:80px;
    height:2px;
    background-color: red;
    top:0%;
    left:0%;
}
.special{
    position: relative;
}
/* margin */
.m-5{
    margin:5px;
}
.m-10{
    margin:10px;
}
.m-15{
    margin:15px;
}
.m-20{
    margin:20px;
}
.m-25{
    margin:25px;
}
.m-30{
    margin:30px;
}
.m-35{
    margin:35px;
}
.m-40{
    margin:40px;
}
.m-45{
    margin:45px;
}
.m-50{
    margin:50px;
}


/* margin-top */
.m-none{
    margin:none;
}
.m-t-5{
    margin-top:5px;
}
.m-t-10{
    margin-top:10px;
}
.m-t-15{
    margin-top:15px;
}
.m-t-20{
    margin-top:20px;
}
.m-t-25{
    margin-top:25px;
}
.m-t-30{
    margin-top:30px;
}
.m-t-35{
    margin-top:35px;
}
.m-t-40{
    margin-top:40px;
}
.m-t-45{
    margin-top:45px;
}
.m-t-50{
    margin-top:50px;
}
.m-t-60{
    margin-top:60px;
}
.m-t-70{
    margin-top:70px;
}
.m-t-80{
    margin-top:80px;
}
.m-t-85{
    margin-top:85px;
}
.m-t-90{
    margin-top:90px;
}
.m-t-95{
    margin-top:95px;
}
.m-t-100{
    margin-top:100px;
}
.m-t-10-p{
    margin-top:10%;
}
.m-t-20-p{
    margin-top:20%;
}
.m-t-30-p{
    margin-top:30%;
}
.m-t-40-p{
    margin-top:40%;
}
.m-t-50-p{
    margin-top:50%;
}
.m-t-60-p{
    margin-top:60%;
}
.m-t-70-p{
    margin-top:70%;
}
.m-t-80-p{
    margin-top:80%;
}
.m-t-90-p{
    margin-top:90%;
}

/* margin-right */
.m-r-5{
    margin-right: 5px;
}
.m-r-10{
    margin-right: 10px;
}
.m-r-15{
    margin-right: 15px;
}
.m-r-20{
    margin-right: 20px;
}
.m-r-25{
    margin-right: 25px;
}
.m-r-30{
    margin-right: 30px;
}
.m-r-35{
    margin-right: 35px;
}
.m-r-40{
    margin-right: 40px;
}
.m-r-45{
    margin-right: 45px;
}
.m-r-50{
    margin-right: 50px;
}
.m-r-10-p{
    margin-right:10%;
}
.m-r-20-p{
    margin-right:20%;
}
.m-r-30-p{
    margin-right:30%;
}
.m-r-40-p{
    margin-right:40%;
}
.m-r-50-p{
    margin-right:50%;
}
.m-r-60-p{
    margin-right:60%;
}
.m-r-70-p{
    margin-right:70%;
}
.m-r-80-p{
    margin-right:80%;
}
.m-r-90-p{
    margin-right:90%;
}

/* margin-left */
.m-l-5{
    margin-left: 5px;
}
.m-l-10{
    margin-left: 10px;
}
.m-l-15{
    margin-left: 15px;
}
.m-l-20{
    margin-left: 20px;
}
.m-l-25{
    margin-left: 25px;
}
.m-l-30{
    margin-left: 30px;
}
.m-l-35{
    margin-left: 35px;
}
.m-l-40{
    margin-left: 40px;
}
.m-l-45{
    margin-left: 45px;
}
.m-l-50{
    margin-left: 50px;
}
.m-l-10-p{
    margin-left: 10%;
}
.m-l-20-p{
    margin-left: 20%;
}
.m-l-30-p{
    margin-left: 30%;
}
.m-l-40-p{
    margin-left: 40%;
}
.m-l-50-p{
    margin-left: 50%;
}
.m-l-60-p{
    margin-left: 60%;
}
.m-l-70-p{
    margin-left: 70%;
}
.m-l-80-p{
    margin-left: 80%;
}
.m-l-90-p{
    margin-left: 90%;
}


/* margin-bottom */
.m-b-5{
    margin-bottom:5px;
}
.m-b-10{
    margin-bottom:10px;
}
.m-b-15{
    margin-bottom:15px;
}
.m-b-20{
    margin-bottom:20px;
}
.m-b-25{
    margin-bottom:25px;
}
.m-b-30{
    margin-bottom:30px;
}
.m-b-35{
    margin-bottom:35px;
}
.m-b-40{
    margin-bottom:40px;
}
.m-b-45{
    margin-bottom:45px;
}
.m-b-50{
    margin-bottom:50px;
}
.m-b-10-p{
    margin-bottom:10%;
}
.m-b-20{
    margin-bottom:20%;
}
.m-b-30{
    margin-bottom:30%;
}
.m-b-40{
    margin-bottom:40%;
}
.m-b-50{
    margin-bottom:50%;
}
.m-b-60{
    margin-bottom:60%;
}
.m-b-70{
    margin-bottom:70%;
}
.m-b-80{
    margin-bottom:80%;
}
.m-b-90{
    margin-bottom:90%;
}

/* margin-x */
.m-x-2{
    margin-right:2px;
    margin-left:2px;
}
.m-x-3{
     margin-right:3px;
     margin-left:3px;
}
.m-x-4{
     margin-right:4px;
     margin-left:4px;
}
.m-x-5{
     margin-right:5px;
     margin-left:5px;
}
.m-x-6{
     margin-right:6px;
     margin-left:6px;
}
.m-x-7{
     margin-right:7px;
     margin-left:7px;
}
.m-x-8{
     margin-right:8px;
     margin-left:8px;
    }
.m-x-10{
    margin-right:10px;
    margin-left:10px;
}
.m-x-12{
    margin-left:12px;
    margin-right:12px;
}
.m-x-15{
    margin-left:15px;
    margin-right:15px;
}
.m-x-20{
    margin-left:20px;
    margin-right:20px;
}
.m-x-25{
    margin-left:25px;
    margin-right:25px;
}
.m-x-30{
    margin-left:30px;
    margin-right:30px;
}
.m-x-35{
    margin-left:35px;
    margin-right:35px;
}
.m-x-40{
    margin-left:40px;
    margin-right:40px;
}
.m-x-45{
    margin-left:45px;
    margin-right:45px;
}
.m-x-50{
    margin-left:50px;
    margin-right:50px;
}

.m-x-2-p{
    margin-left:2%;
    margin-right:2%;

}
.m-x-3-p{
    margin-left:3%;
    margin-right:3%;

}
.m-x-5-p{
    margin-left:5%;
    margin-right:5%;

}
.m-x-7-p{
    margin-left:7%;
    margin-right:7%;

}
.m-x-8-p{
    margin-left:8%;
    margin-right:8%;

}
.m-x-10-p{
    margin-left:10%;
    margin-right:10%;

}
.m-x-12-p{
    margin-left:12%;
    margin-right:12%;

}
.m-x-15-p{
    margin-left:15%;
    margin-right:15%;

}
.m-x-20-p{
    margin-left:20%;
    margin-right:20%;

}

/* margin-y */
.m-y-2{
    margin-bottom:2px;
    margin-top:2px;
}
.m-y-3{
     margin-bottom:3px;
     margin-top:3px;
}
.m-y-4{
     margin-bottom:4px;
     margin-top:4px;
}
.m-y-5{
     margin-bottom:5px;
     margin-top:5px;
}
.m-y-6{
     margin-bottom:6px;
     margin-top:6px;
}
.m-y-7{
     margin-bottom:7px;
     margin-top:7px;
}
.m-y-8{
     margin-bottom:8px;
     margin-top:8px;
    }
.m-y-10{
    margin-bottom:10px;
    margin-top:10px;
}
.m-y-12{
    margin-top:12px;
    margin-bottom:12px;
}
.m-y-15{
    margin-top:15px;
    margin-bottom:15px;
}
.m-y-20{
    margin-top:20px;
    margin-bottom:20px;
}
.m-y-25{
    margin-top:25px;
    margin-bottom:25px;
}
.m-y-30{
    margin-top:30px;
    margin-bottom:30px;
}
.m-y-35{
    margin-top:35px;
    margin-bottom:35px;
}
.m-y-40{
    margin-top:40px;
    margin-bottom:40px;
}
.m-y-45{
    margin-top:45px;
    margin-bottom:45px;
}
.m-y-50{
    margin-top:50px;
    margin-bottom:50px;
}

.m-y-2-p{
    margin-top:2%;
    margin-bottom:2%;

}
.m-y-3-p{
    margin-top:3%;
    margin-bottom:3%;

}
.m-y-5-p{
    margin-top:5%;
    margin-bottom:5%;

}
.m-y-7-p{
    margin-top:7%;
    margin-bottom:7%;

}
.m-y-8-p{
    margin-top:8%;
    margin-bottom:8%;

}
.m-y-10-p{
    margin-top:10%;
    margin-bottom:10%;

}
.m-y-12-p{
    margin-top:12%;
    margin-bottom:12%;

}
.m-y-15-p{
    margin-top:15%;
    margin-bottom:15%;

}
.m-y-20-p{
    margin-top:20%;
    margin-bottom:20%;

}

/* resize */
.resize-vertical{
    resize:vertical;
}
.resize-horizontal{
    resize:horizontal;
}
.resize-both{
    resize:both;
}

/* overflow */
.overflow-visible{
    overflow: visible;
}
.overflow-auto{
    overflow:auto;
}
.overflow-hidden{
    overflow:hidden;
}
.overflow-scroll{
    overflow:scroll;
}

/* overflow-x  */
.overflow-x-auto{
    overflow-x:auto;
}
.overflow-x-hidden{
    overflow-y:hidden;
}
.overflow-x-scroll{
    overflow-y:scroll;
}
.overflow-x-visible{
    overflow-y:scroll;
}

/* overflow-y  */
.overflow-y-auto{
    overflow-y:auto;
}
.overflow-y-hidden{
    overflow-y:hidden;
}
.overflow-y-scroll{
    overflow-y:scroll;
}
.overflow-y-visible{
    overflow-y:visible;
}



/* borders */
.border-none{
    border:none;
}

/* border-radius */
.b-r-3{
    border-radius: 3px;
}
.b-r-4{
    border-radius:4px;
}
.b-r-5{
    border-radius:5px;
}
.b-r-8{
    border-radius:8px;
}
.b-r-10{
    border-radius:10px;
}
.b-r-20{
    border-radius:20px;
}
.b-r-25{
    border-radius:25px;
}
.b-r-30{
    border-radius:30px;
}
.b-r-40{
    border-radius:40px;
}
.b-r-50{
    border-radius:50px;
}
.b-r-circle{
    border-radius:50%;
}

/* border-color */
.b-white{
    border-color:white;
}
.b-red{
    border-color:red;
}
.b-tomato{
    border-color:tomato;
}
.b-blue{
    border-color: blue;
}
.b-gray{
    border-color:gray;
}
.b-black{
    border-color:black;
}
.b-gold{
    border-color:gold;
}
.b-yellow{
    border-color:yellow;
}
.b-chocolate{
    border-color:chocolate;
}

/* border-width */
.b-w-1{
    border-width:1px;
}
.b-w-2{
    border-width:2px;
}
.b-w-3{
    border-width:3px;
}
.b-w-4{
    border-width:4px;
}
.b-w-5{
    border-width:5px;
}
.b-w-7{
    border-width:7px;
}
.b-w-10{
    border-width:10px;
}
.b-w-15{
    border-width:15px;
}
.b-w-20{
    border-width:20px;
}
.b-w-25{
    border-width:25px;
}
.b-w-30{
    border-width:30px;
}

/* padding */
.m-none{
    padding:none;
}
.p-3{
    padding:3px;
}
.p-5{
    padding:5px;
}
.p-8{
    padding:8px;
}
.p-10{
    padding:10px;
}
.p-12{
    padding:12px;
}
.p-15{
    padding:15px;
}
.p-20{
    padding:20px;
}
.p-25{
    padding:25px;
}
.p-30{
    padding:30px;
}
.p-40{
    padding:40px;
}
.p-50{
    padding:50px;
}
.p-2-p{
    padding:2%;
}
.p-3-p{
    padding:3%;
}
.p-5-p{
    padding:5%;
}
.p-7-p{
    padding:7%;
}
.p-8-p{
    padding:8%;
}
.p-10-p{
    padding:10%;
}
.p-12-p{
    padding:12%;
}
.p-15-p{
    padding:15%;
}
.p-20-p{
    padding:20%;
}

/* padding-top */
.p-t-2{
    padding-top:2px;
}
.p-t-3{
    padding-top:3px;
}
.p-t-4{
    padding-top:4px;
}
.p-t-5{
    padding-top:5px;
}
.p-t-6{
    padding-top:6px;
}
.p-t-7{
    padding-top:7px;
}
.p-t-8{
    padding-top:8px;
}
.p-t-10{
    padding-top:10px;
}
.p-t-12{
    padding-top:12px;
}
.p-t-15{
    padding-top:15px;
}
.p-t-20{
    padding-top:20px;
}
.p-t-25{
    padding-top:25px;
}
.p-t-30{
    padding-top:30px;
}
.p-t-35{
    padding-top:35px;
}
.p-t-40{
    padding-top:40px;
}
.p-t-45{
    padding-top:45px;
}
.p-t-50{
    padding-top:50px;
}
.p-t-2-p{
    padding-top:2%;
}
.p-t-3-p{
    padding-top:3%;
}
.p-t-5-p{
    padding-top:5%;
}
.p-t-7-p{
    padding-top:7%;
}
.p-t-8-p{
    padding-top:8%;
}
.p-t-10-p{
    padding-top:10%;
}
.p-t-12-p{
    padding-top:12%;
}
.p-t-15-p{
    padding-top:15%;
}
.p-t-20-p{
    padding-top:20%;
}


/* padding-bottom */
.p-b-2{
    padding-bottom:2px;
}
.p-b-3{
    padding-bottom:3px;
}
.p-b-4{
    padding-bottom:4px;
}
.p-b-5{
    padding-bottom:5px;
}
.p-b-6{
    padding-bottom:6px;
}
.p-b-7{
    padding-bottom:7px;
}
.p-b-8{
    padding-bottom:8px;
}
.p-b-10{
    padding-bottom:10px;
}
.p-b-12{
    padding-bottom:12px;
}
.p-b-15{
    padding-bottom:15px;
}
.p-b-20{
    padding-bottom:20px;
}
.p-b-25{
    padding-bottom:25px;
}
.p-b-30{
    padding-bottom:30px;
}
.p-b-35{
    padding-bottom:35px;
}
.p-b-40{
    padding-bottom:40px;
}
.p-b-45{
    padding-bottom:45px;
}
.p-b-50{
    padding-bottom:50px;
}
.p-b-2-p{
    padding-bottom:2%;
}
.p-b-3-p{
    padding-bottom:3%;
}
.p-b-5-p{
    padding-bottom:5%;
}
.p-b-7-p{
    padding-bottom:7%;
}
.p-b-8-p{
    padding-bottom:8%;
}
.p-b-10-p{
    padding-bottom:10%;
}
.p-b-12-p{
    padding-bottom:12%;
}
.p-b-15-p{
    padding-bottom:15%;
}
.p-b-20-p{
    padding-bottom:20%;
}


/* padding-left */
.p-l-2{
    padding-left:2px;
}
.p-l-3{
    padding-left:3px;
}
.p-l-4{
    padding-left:4px;
}
.p-l-5{
    padding-left:5px;
}
.p-l-6{
    padding-left:6px;
}
.p-l-7{
    padding-left:7px;
}
.p-l-8{
    padding-left:8px;
}
.p-l-10{
    padding-left:10px;
}
.p-l-12{
    padding-left:12px;
}
.p-l-15{
    padding-left:15px;
}
.p-l-20{
    padding-left:20px;
}
.p-l-25{
    padding-left:25px;
}
.p-l-30{
    padding-left:30px;
}
.p-l-35{
    padding-left:35px;
}
.p-l-40{
    padding-left:40px;
}
.p-l-45{
    padding-left:45px;
}
.p-l-50{
    padding-left:50px;
}
.p-l-2-p{
    padding-left:2%;
}
.p-l-3-p{
    padding-left:3%;
}
.p-l-5-p{
    padding-left:5%;
}
.p-l-7-p{
    padding-left:7%;
}
.p-l-8-p{
    padding-left:8%;
}
.p-l-10-p{
    padding-left:10%;
}
.p-l-12-p{
    padding-left:12%;
}
.p-l-15-p{
    padding-left:15%;
}
.p-l-20-p{
    padding-left:20%;
}

/* padding-right */
.p-r-2{
    padding-right:2px;
}
.p-r-3{
    padding-right:3px;
}
.p-r-4{
    padding-right:4px;
}
.p-r-5{
    padding-right:5px;
}
.p-r-6{
    padding-right:6px;
}
.p-r-7{
    padding-right:7px;
}
.p-r-8{
    padding-right:8px;
}
.p-r-10{
    padding-right:10px;
}
.p-r-12{
    padding-right:12px;
}
.p-r-15{
    padding-right:15px;
}
.p-r-20{
    padding-right:20px;
}
.p-r-25{
    padding-right:25px;
}
.p-r-30{
    padding-right:30px;
}
.p-r-35{
    padding-right:35px;
}
.p-r-40{
    padding-right:40px;
}
.p-r-45{
    padding-right:45px;
}
.p-r-50{
    padding-right:50px;
}
.p-r-2-p{
    padding-right:2%;
}
.p-r-3-p{
    padding-right:3%;
}
.p-r-5-p{
    padding-right:5%;
}
.p-r-7-p{
    padding-right:7%;
}
.p-r-8-p{
    padding-right:8%;
}
.p-r-10-p{
    padding-right:10%;
}
.p-r-12-p{
    padding-right:12%;
}
.p-r-15-p{
    padding-right:15%;
}
.p-r-20-p{
    padding-right:20%;
}

/* padding-x */
.p-x-2{
    padding-right:2px;
    padding-left:2px;
}
.p-x-3{
     padding-right:3px;
     padding-left:3px;
}
.p-x-4{
     padding-right:4px;
     padding-left:4px;
}
.p-x-5{
     padding-right:5px;
     padding-left:5px;
}
.p-x-6{
     padding-right:6px;
     padding-left:6px;
}
.p-x-7{
     padding-right:7px;
     padding-left:7px;
}
.p-x-8{
     padding-right:8px;
     padding-left:8px;
    }
.p-x-10{
    padding-right:10px;
    padding-left:10px;
}
.p-x-12{
    padding-left:12px;
    padding-right:12px;
}
.p-x-15{
    padding-left:15px;
    padding-right:15px;
}
.p-x-20{
    padding-left:20px;
    padding-right:20px;
}
.p-x-25{
    padding-left:25px;
    padding-right:25px;
}
.p-x-30{
    padding-left:30px;
    padding-right:30px;
}
.p-x-35{
    padding-left:35px;
    padding-right:35px;
}
.p-x-40{
    padding-left:40px;
    padding-right:40px;
}
.p-x-45{
    padding-left:45px;
    padding-right:45px;
}
.p-x-50{
    padding-left:50px;
    padding-right:50px;
}

.p-x-2-p{
    padding-left:2%;
    padding-right:2%;

}
.p-x-3-p{
    padding-left:3%;
    padding-right:3%;

}
.p-x-5-p{
    padding-left:5%;
    padding-right:5%;

}
.p-x-7-p{
    padding-left:7%;
    padding-right:7%;

}
.p-x-8-p{
    padding-left:8%;
    padding-right:8%;

}
.p-x-10-p{
    padding-left:10%;
    padding-right:10%;

}
.p-x-12-p{
    padding-left:12%;
    padding-right:12%;

}
.p-x-15-p{
    padding-left:15%;
    padding-right:15%;

}
.p-x-20-p{
    padding-left:20%;
    padding-right:20%;

}

/* padding-y */
.p-y-2{
    padding-bottom:2px;
    padding-top:2px;
}
.p-y-3{
     padding-bottom:3px;
     padding-top:3px;
}
.p-y-4{
     padding-bottom:4px;
     padding-top:4px;
}
.p-y-5{
     padding-bottom:5px;
     padding-top:5px;
}
.p-y-6{
     padding-bottom:6px;
     padding-top:6px;
}
.p-y-7{
     padding-bottom:7px;
     padding-top:7px;
}
.p-y-8{
     padding-bottom:8px;
     padding-top:8px;
    }
.p-y-10{
    padding-bottom:10px;
    padding-top:10px;
}
.p-y-12{
    padding-top:12px;
    padding-bottom:12px;
}
.p-y-15{
    padding-top:15px;
    padding-bottom:15px;
}
.p-y-20{
    padding-top:20px;
    padding-bottom:20px;
}
.p-y-25{
    padding-top:25px;
    padding-bottom:25px;
}
.p-y-30{
    padding-top:30px;
    padding-bottom:30px;
}
.p-y-35{
    padding-top:35px;
    padding-bottom:35px;
}
.p-y-40{
    padding-top:40px;
    padding-bottom:40px;
}
.p-y-45{
    padding-top:45px;
    padding-bottom:45px;
}
.p-y-50{
    padding-top:50px;
    padding-bottom:50px;
}

.p-y-2-p{
    padding-top:2%;
    padding-bottom:2%;

}
.p-y-3-p{
    padding-top:3%;
    padding-bottom:3%;

}
.p-y-5-p{
    padding-top:5%;
    padding-bottom:5%;

}
.p-y-7-p{
    padding-top:7%;
    padding-bottom:7%;

}
.p-y-8-p{
    padding-top:8%;
    padding-bottom:8%;

}
.p-y-10-p{
    padding-top:10%;
    padding-bottom:10%;

}
.p-y-12-p{
    padding-top:12%;
    padding-bottom:12%;

}
.p-y-15-p{
    padding-top:15%;
    padding-bottom:15%;

}
.p-y-20-p{
    padding-top:20%;
    padding-bottom:20%;

}

/* border-style */
.b-solid{
    border-style: solid;
}
.b-dashed{
    border-style: dashed;
}
.b-dotted{
    border-style:dotted;
}
.b-double{
    border-style: double;
}

/* border-top-style */
.b-t-solid{
    border-top-style: solid;
}
.b-t-dashed{
    border-top-style: dashed;
}
.b-t-dotted{
    border-top-style:dotted;
}
.b-t-double{
    border-top-style: double;
}

/* border-bottom-style */
.b-b-solid{
    border-bottom-style: solid;
}
.b-b-dashed{
    border-bottom-style: dashed;
}
.b-b-dotted{
    border-bottom-style:dotted;
}
.b-b-double{
    border-bottom-style: double;
}

/* border-left-style */
.b-l-solid{
    border-left-style: solid;
}
.b-l-dashed{
    border-left-style: dashed;
}
.b-l-dotted{
    border-left-style:dotted;
}
.b-l-double{
    border-left-style: double;
}

/* border-right-style */
.b-r-solid{
    border-right-style: solid;
}
.b-r-dashed{
    border-right-style: dashed;
}
.b-r-dotted{
    border-right-style:dotted;
}
.b-r-double{
    border-right-style: double;
}


/* translate */
.translate-5{
    transform:translate(5px, 5px);
}
.translate-10{
    transform:translate(10px, 10px);
}
.translate-15{
    transform:translate(15px, 15px);
}
.translate-20{
    transform:translate(20px, 20px);
}
.translate-25{
    transform:translate(25px, 25px);
}
.translate-30{
    transform:translate(30px, 30px);
}
.translate-35{
    transform:translate(35px, 35px);
}
.translate-40{
    transform:translate(40px, 40px);
}
.translate-45{
    transform:translate(45px, 45px);
}
.translate-50{
    transform:translate(50px, 50px);
}
.translate-5-p{
    transform: translate(5%,5%);
}
.translate-10-p{
    transform: translate(10%,10%);
}
.translate-15-p{
    transform: translate(15%,15%);
}
.translate-20-p{
    transform: translate(20%,20%);
}


/* translate-x  */
.translate-x-5{
    transform:translateX(5px);
}
.translate-x-10{
    transform:translateX(10px);
}
.translate-x-15{
    transform:translateX(15px);
}
.translate-x-20{
    transform:translateX(20px);
}
.translate-x-25{
    transform:translateX(25px);
}
.translate-x-30{
    transform:translateX(30px);
}
.translate-x-35{
    transform:translateX(35px);
}
.translate-x-40{
    transform:translateX(40px);
}
.translate-x-45{
    transform:translateX(45px);
}
.translate-x-50{
    transform:translateX(50px);
}
.translate-x-5-p{
    transform: translateX(5%);
}
.translate-x-10-p{
    transform: translateX(10%);
}
.translate-x-15-p{
    transform: translateX(15%);
}
.translate-x-20-p{
    transform: translateX(20%);
}

/* translate-y  */
.translate-y-5{
    transform:translateY(5px);
}
.translate-y-10{
    transform:translateY(10px);
}
.translate-y-15{
    transform:translateY(15px);
}
.translate-y-20{
    transform:translateY(20px);
}
.translate-y-25{
    transform:translateY(25px);
}
.translate-y-30{
    transform:translateY(30px);
}
.translate-y-35{
    transform:translateY(35px);
}
.translate-y-40{
    transform:translateY(40px);
}
.translate-y-45{
    transform:translateY(45px);
}
.translate-y-50{
    transform:translateY(50px);
}
.translate-y-5-p{
    transform: translateY(5%);
}
.translate-y-10-p{
    transform: translateY(10%);
}
.translate-y-15-p{
    transform: translateY(15%);
}
.translate-y-20-p{
    transform: translateY(20%);
}


/* rotate */
.rotate-20-cw{
    transform: rotate(20deg);
}
.rotate-30-cw{
    transform: rotate(30deg);
}
.rotate-45-cw{
    transform: rotate(45deg);
}
.rotate-60-cw{
    transform: rotate(60deg);
}
.rotate-90-cw{
    transform: rotate(90deg);
}
.rotate-180-cw{
    transform: rotate(180deg);
}
.rotate-20-Acw{
    transform: rotate(-20deg);
}
.rotate-30-Acw{
    transform: rotate(-30deg);
}
.rotate-45-Acw{
    transform: rotate(-45deg);
}
.rotate-60-Acw{
    transform: rotate(-60deg);
}
.rotate-90-Acw{
    transform: rotate(-90deg);
}
.rotate-180-Acw{
    transform: rotate(-180deg);
}

/* font-style */
.bold{
    font-weight: bold;
}
.italic{
    font-style:italic;
}

/* font-weight */
.font-100{
    font-weight:100;
}
.font-200{
    font-weight:200;
}
.font-300{
    font-weight:300;
}
.font-350{
    font-weight:350;
}
.font-400{
    font-weight:400;
}
.font-500{
    font-weight:500;
}
.font-600{
    font-weight:600;
}
.font-700{
    font-weight:700;
}
.font-800{
    font-weight:800;
}
.font-900{
    font-weight:900;
}



/* opacity */
.opacity-0{
    opacity:0;
}
.opacity-1{
    opacity:0.1;
}
.opacity-2{
    opacity:0.2;
}
.opacity-3{
    opacity:0.3;
}
.opacity-4{
    opacity:0.4;
}
.opacity-5{
    opacity:0.5;
}
.opacity-6{
    opacity:0.6;
}
.opacity-7{
    opacity:0.7;
}
.opacity-8{
    opacity:0.8;
}
.opacity-9{
    opacity:0.9;
}
.opacity-full{
    opacity:1;
}


/* z-index */
.z-1{
    z-index: 1;
}




.decoration-none{
    text-decoration:none;
}

/* justify-content  */
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content: flex-end;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-space-around{
    justify-content: space-around;
}
.justify-content-space-evenly{
    justify-content:space-evenly;
}

/* align-items */
.align-items-start{
    align-items:flex-start;
}
.align-items-center{
    align-items:center;
}
.align-items-end{
    align-items:flex-end;
}
.align-items-baseline{
    align-items:baseline;
}

/* flex-direction */
.flex-direction-row{
    flex-direction:row;
}
.flex-direction-row-reverse{
    flex-direction:row-reverse;
}
.flex-direction-column{
    flex-direction:column;
}
.flex-direction-column-reverse{
    flex-direction:column-reverse;
}


/* row-gap */
.row-gap-5{
    row-gap: 5px;
}
.row-gap-10{
    row-gap: 10px;
}
.row-gap-15{
    row-gap: 15px;
}
.row-gap-20{
    row-gap: 20px;
}
.row-gap-25{
    row-gap: 25px;
}
.row-gap-30{
    row-gap: 30px;
}
.row-gap-40{
    row-gap: 40px;
}
.row-gap-30{
    row-gap: 50px;
}
.row-gap-5-p{
    row-gap: 5%;
}
.row-gap-10-p{
    row-gap: 10%;
}
.row-gap-15-p{
    row-gap: 15%;
}
.row-gap-20-p{
    row-gap: 20%;
}
.row-gap-25-p{
    row-gap: 25%;
}
.row-gap-30-p{
    row-gap: 30%;
}
.row-gap-40-p{
    row-gap: 40%;
}
.row-gap-30-p{
    row-gap: 50%;
}

/* column-gap */
.column-gap-5{
    column-gap: 5px;
}
.column-gap-10{
    column-gap: 10px;
}
.column-gap-15{
    column-gap: 15px;
}
.column-gap-20{
    column-gap: 20px;
}
.column-gap-25{
    column-gap: 25px;
}
.column-gap-30{
    column-gap: 30px;
}
.column-gap-40{
    column-gap: 40px;
}
.column-gap-30{
    column-gap: 50px;
}
.column-gap-5-p{
    column-gap: 5%;
}
.column-gap-10-p{
    column-gap: 10%;
}
.column-gap-15-p{
    column-gap: 15%;
}
.column-gap-20-p{
    column-gap: 20%;
}
.column-gap-25-p{
    column-gap: 25%;
}
.column-gap-30-p{
    column-gap: 30%;
}
.column-gap-40-p{
    column-gap: 40%;
}
.column-gap-30-p{
    column-gap: 50%;
}


/* gap  */
.gap-5{
    gap: 5px;
}
.gap-10{
    gap: 10px;
}
.gap-15{
    gap: 15px;
}
.gap-20{
    gap: 20px;
}
.gap-25{
    gap: 25px;
}
.gap-30{
    gap: 30px;
}
.gap-40{
    gap: 40px;
}
.gap-30{
    gap: 50px;
}
.gap-35{
    gap: 35px;
}
.gap-40{
    gap: 40px;
}
.gap-50{
    gap: 50px;
}
.gap-5-p{
    gap: 5%;
}
.gap-10-p{
    gap: 10%;
}
.gap-15-p{
    gap: 15%;
}
.gap-20-p{
    gap: 20%;
}
.gap-25-p{
    gap: 25%;
}
.gap-30-p{
    gap: 30%;
}
.gap-40-p{
    gap: 40%;
}
.gap-30-p{
    gap: 50%;
}
.gap-35-p{
    gap: 35%;
}
.gap-40-p{
    gap: 40%;
}
.gap-50-p{
    gap: 50%;
}

/* flex-wrap */
.flex-wrap-reverse{
    flex-wrap:wrap-reverse;
}
.flex-wrap{
    flex-wrap:wrap;
}
.flex-no-wrap{
    flex-wrap:nowrap;
}



/* self-align */
.align-self-start{
    align-self: flex-start;
}
.align-self-center{
    align-self: center;
}
.align-self-end{
    align-self: flex-end;
}


/* .transition */
.transition-2{
    transition: all 2s;
}


/* z-index */
.z-nav{
    z-index:999;
}
.z-2{
    z-index:2;
}

.w-full-vw{
    width:100vw;
}
.w-71-p{
    width:71%;
}

.inset-0{
    inset:0;
}

/* transition  */
.transition-all-400-ms{
    transition:0.4s all;
}
.transition-all-500-ms{
    transition:0.5s all;
}
.transition-all-600-ms{
    transition:0.6s all;
}
.transition-all-700-ms{
    transition:0.7s all;
}
.transition-all-800-ms{
    transition:0.8s all;
}
.transition-all-900-ms{
    transition:0.9s all;
}
.transition-all-1{
    transition:1s all;
}
.transition-all-2{
    transition:2s all;
}
.transition-all-3{
    transition:3s all;
}

/* transition-delay */
.transition-delay-400-ms{
    transition-delay:0.4s;
}
.transition-delay-500-ms{
    transition-delay:0.5s;
}
.transition-delay-600-ms{
    transition-delay:0.6s;
}
.transition-delay-700-ms{
    transition-delay:0.7s;
}
.transition-delay-800-ms{
    transition-delay:0.8s;
}
.transition-delay-900-ms{
    transition-delay:0.9s;
}
.transition-delay-1{
    transition-delay: 1s;
}
.transition-delay-2{
    transition-delay: 2s;
}
.transition-delay-3{
    transition-delay: 3s;
}
.transition-delay-4{
    transition-delay: 4s;
}
.transition-delay-5{
    transition-delay: 5s;
}


/* transition-duration  */
.transition-400-ms{
    transition-duration:0.4s;
}
.transition-500-ms{
    transition-duration:0.5s;
}
.transition-600-ms{
    transition-duration:0.6s;
}
.transition-700-ms{
    transition-duration:0.7s;
}
.transition-800-ms{
    transition-duration:0.8s;
}
.transition-900-ms{
    transition-duration:0.9s;
}
.transition-1{
    transition-duration:1s;
}
.transition-2{
    transition-duration:2s;
}
.transition-3{
    transition-duration:3s;
}

/* text-overflow */
.text-overflow-ellipsis{
    text-overflow: ellipsis;
}
.text-overflow-clip{
    text-overflow: clip;
}
.text-overflow-hidden{
    text-overflow: hidden;
}
.text-overflow-visible{
    text-overflow: visible;
}
.text-overflow-auto{
    text-overflow: auto;
}

/* text-wrap */
.text-wrap{
    white-space: wrap;
}
.text-nowrap{
    white-space: nowrap;
}

.w-fit{
    width:fit-content;
}
.h-fit{
    height:fit-content;
}
/* box-shadow */
.box-shadow{
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
}
/* drop-shadow */

/* text-shadow */

/* box-sizing */
.border-box{
    box-sizing:border-box;
}
.content-box{
    box-sizing:content-box;
}

.hidden{
    visibility: hidden;
}

.letteer-spacing-2{
    letter-spacing: 2px;
}
.letteer-spacing-3{
    letter-spacing: 3px;
}
.letteer-spacing-4{
    letter-spacing: 4px;
}
.letteer-spacing-5{
    letter-spacing: 5px;
}


.translate-x-center{
    transform: translateX(-50%);
}